<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="EWellnessSFG">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="lollipop"
        android:allowBackup="true">
        <activity android:name="com.sfg.EWellnessSFG.MyCalendarDoctorActivity" />
        <activity android:name="com.sfg.EWellnessSFG.TestActivity" />
        <activity android:name="com.sfg.EWellnessSFG.AppointmentActivity" />
        <activity android:name="com.sfg.EWellnessSFG.RecordInfo" />
        <activity android:name="com.sfg.EWellnessSFG.PatientInfoActivity" />
        <activity android:name="com.sfg.EWellnessSFG.DossierMedical" />
        <activity android:name="com.sfg.EWellnessSFG.ChatActivity" />
        <activity android:name="com.sfg.EWellnessSFG.PatientRequestPage" />
        <activity android:name="com.sfg.EWellnessSFG.DoctorHomeActivity" />
        <activity android:name="com.sfg.EWellnessSFG.EditProfileDoctorActivity" />
        <activity android:name="com.sfg.EWellnessSFG.ConfirmedAppointmentActivity" />
        <activity android:name="com.sfg.EWellnessSFG.PatientAppointmentsActivity" />
        <activity android:name="com.sfg.EWellnessSFG.ProfilePatientActivity" />
        <activity android:name="com.sfg.EWellnessSFG.MyDoctorsActivity" />
        <activity android:name="com.sfg.EWellnessSFG.ProfileDoctorActivity" />
        <activity android:name="com.sfg.EWellnessSFG.EditProfilePatientActivity" />
        <activity android:name="com.sfg.EWellnessSFG.DoctorAppointmentActivity" />
        <activity android:name="com.sfg.EWellnessSFG.RecordActivity" />
        <activity android:name="com.sfg.EWellnessSFG.MyPatientsActivity" />
        <activity android:name="com.sfg.EWellnessSFG.SearchPatActivity" />
        <activity android:name="com.sfg.EWellnessSFG.FirstSigningActivity" />
        <activity android:name="com.sfg.EWellnessSFG.HomeActivity" />
        <activity android:name="com.sfg.EWellnessSFG.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>