<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ensias.healthcareapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="lollipop"
        android:allowBackup="true">
        <activity android:name=".MyCalendarDoctorActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".AppointmentActivity" />
        <activity android:name=".RecordInfo" />
        <activity android:name=".PatientInfoActivity" />
        <activity android:name=".DossierMedical" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".PatientRequestPage" />
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".EditProfileDoctorActivity" />
        <activity android:name=".ConfirmedAppointmentActivity" />
        <activity android:name=".PatientAppointmentsActivity" />
        <activity android:name=".ProfilePatientActivity" />
        <activity android:name=".MyDoctorsActivity" />
        <activity android:name=".ProfileDoctorActivity" />
        <activity android:name=".EditProfilePatientActivity" />
        <activity android:name=".DoctorAppointmentActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".MyPatientsActivity" />
        <activity android:name=".SearchPatActivity" />
        <activity android:name=".FirstSigningActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>